@import "_variables.scss";

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
  }
  .pagination button {
    margin: 0 5px;
    padding: 10px 50px;
    border: none;
    background-color: $primary-color;
    color: $secondary-color;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  .pagination .active {
    background-color: #005bb5;
  }
  